* {
	padding:0px;
	margin: 0px;
}
div{
	background: silver;
	display: inline-block;
}
body{
	max-width: 1024;
	margin: auto;
}
p{
	font-family:Verdana, Geneva, sans-serif;
	color: #000;
	text-align: center;
}

header{	
	margin-bottom: 15px;

}
nav {
	background: silver;
	height:40px;
	margin-bottom: 15px;
}
nav p {
	font-family:Verdana, Geneva, sans-serif;
	position: relative;
    top: 20%;
}
.logo {	
	width: 25%;
	height: 60px;
	
}
.logo p {
	position: relative;
    top: 30%;
}
.future {
	
	width: 33%;
	height: 60px;
	float: right;
}
.future p {
	position: relative;
    top: 30%;
}

.style{	
	justify-content: center;
    align-items: center;
    text-align: center;
    
}
.main{	
	background: #fff;
	height: 900px;
	display: flex;	
}


.mainLef{
	background: #fff;
	display: flex;
	flex-direction: column;
	width: 44%;
}

.mainCen{
	background: #fff;
	width: 29% ;
	display: flex;
	flex-direction: column;
	
}
.mainRit{
	background: #fff;
	width: 27% ;
	display: flex;
	flex-direction: column;
}
.deal {	
	height: 225px;
	margin: 0 15px 15px 0;
}

.high{
	height: 225px;
	margin: 0 15px 15px 0;
		}
.highlighted{
	height:450px;
	margin: 0 15px 0 0;
}

.membership{
	height:300px;
	margin: 0 15px 15px 0;
}
.pet {
	height:600px;
	margin: 0 15px 0 0;
}
.description{
	height:	225px;
	margin: 0 0px 15px 0;	
}
.last {	
	height:450px;
	margin: 0 0px 15px 0;
}
.highlightedPost{
	height:225px;
	margin: 0 0px 0px 0;	
}
footer {
	background: silver;
	margin-top: 15px;
	height: 55px;
}
footer p {
	font-family:Verdana, Geneva, sans-serif;
	position: relative;
    top: 35%;
}
div p {
	font-family:Verdana, Geneva, sans-serif;
	position: relative;
    top: 50%;
}
